// Layout variables partial

$section-padding: 40px 0;

section.intro {
	background: $section-light;
}
section.events, section.rsvp, section.gallery, section.thingsToDo {
	background: $section-dark;
}